#-------------------------------------------------------------------------
# re-name this file as 'blenderfarm.config'
#-------------------------------------------------------------------------

# the section header can be any string, but is commonly a mnemonic for this cloud project
[some-cloud-project]

# the full path to your cloud credentials file
credentials_file : /some/path/openrc.sh

# the full path to the ssh key commonly used in this cloud project
default_ssh_key : /some/path/my-key.pem

# the name of the OSX keychain item containing the password for this cloud project
osx_keychain_item : my-keychain-item

# the name of the openstack server group used as a placement scheduler hint when
# building rendering farms
server_group : my-server-group

# name of openstack image used by the rendering nodes
image_name : my_openstack_image_name

# name of openstack flavor used by rendering nodes
flavor_name : my_openstack_flavor_name

# name of openstack ssh keypair used by the rendering nodes
key_name : my_openstack_keypair_name

