#-------------------------------------------------------------------------
# re-name this file as 'blenderfarm.config'
#-------------------------------------------------------------------------

# the section header can be any string, but is commonly a mnemonic for this cloud project
[some-cloud-project]

# the full path to your cloud credentials file
credentials_file : /some/path/openrc.sh

# the full path to the ssh key commonly used in this cloud project
default_ssh_key : /some/path/my-key.pem

# the name of the OSX keychain item containing the password for this cloud project
osx_keychain_item : my-keychain-item
